
<script>

import { GetResultWrapper } from '../styled/gameSectionStyled';

export default {
  name: 'backHomePart',
  components:{
      GetResultWrapper
  },
  created(){
    let cards = 0;
      Object.values(this.ownData.OwnCards).map((item,index)=>{
      return cards += item;
    })
    this.totalCards = cards;
  },
  props:['ownData'],
  data(){
    return {
     totalCards:0
    }
  },
  methods:{
    backHomeClick:function(){
      this.$emit("backHomeClick",this.totalCards);
    }
  },
  template: `
      <GetResultWrapper :index="201">
        <div class="cong">Left this game room ?</div>
        <div class="cong alert">If you have cards<br />you have to stay until the game finished</div>
        <div class="clickBtn" v-on:click="backHomeClick">Comfirm</div>
      </GetResultWrapper>
    
  `
}

</script>
