
<script>

import { GameWrapper , PartWrapper , TitleStyle ,SecondTitle , CardBox } from '../styled/gameSectionStyled';
import Coin from '../assets/coin0.png';
export default {
  created:function(){

  },
  name: 'cardPart',
  components:{
      GameWrapper,
      PartWrapper,
      TitleStyle,
      SecondTitle,
      CardBox
  },
  props:['webSocket','ownData','stepLeftSeconds','cardWinningSetting'],
  data(){
    return {
      coinPic:Coin,
      cardList: [
        {Name:'Blue', code: 0, color:'#07b'},
        {Name:'Green', code: 1, color:'#2a2'},
        {Name:'Red', code: 2, color:'#f00'},
        {Name:'Yellow', code: 3, color:'#ff0'},
        {Name:'Purple', code: 4, color:'#f0a'},
        {Name:'Gold', code: 5, color:'gold'},
        {Name:'Diamond', code: 6, color:'#B9F2FF'}
      ]
    }
  },
  methods:{
    cardBuyClick:function(index){
      let message = {
        EventType: 'OnCardBuy',
        Data: {
          CardColor: index
        }
      }
      this.webSocket.send(JSON.stringify(message));
    }
  },
  template: `
    <GameWrapper>
      <PartWrapper>
        <SecondTitle>Click to buy cards</SecondTitle>
        <SecondTitle :right="true">Left<span>{{stepLeftSeconds}}</span>seconds</SecondTitle>
        <SecondTitle>Probabilities / Odds</SecondTitle>
        <SecondTitle :right="true"><img :src="coinPic"/><span>{{ownData.Coins}}</span>coins</SecondTitle>

        <CardBox v-for="(item,index) in cardList" :key="index">
          <div class="color">
            <div class="winSetting" :odds="cardWinningSetting[item.Name]" v-bind:style="{ background:cardList[index].color, width: 100/cardWinningSetting[item.Name] +'%' }"></div>
            <div class="odds">1:{{cardWinningSetting[item.Name]}}</div>
          </div>
          <div class="plus"  @click="cardBuyClick(index)"> + </div>
          <div class="haveCard">{{ownData.OwnCards[item.Name]}}</div>
        </CardBox>

      </PartWrapper>
    </GameWrapper>
  `
}

</script>
