<script>

import { GameWrapper , GameTimeWrapper , ArrowStyle , CircleWrapper , ListSvg , MemberWrapper , PhotoStyle} from '../styled/gameSectionStyled';
import GetResultPart from './getResultPart';

import femaleSvg0 from '../assets/female0.svg';
import femaleSvg1 from '../assets/female1.svg';
import femaleSvg2 from '../assets/female2.svg';
import maleSvg0 from '../assets/male0.svg';
import maleSvg1 from '../assets/male1.svg';
import maleSvg2 from '../assets/male2.svg';
import genderSvg0 from '../assets/genderNone0.svg';
import genderSvg1 from '../assets/genderNone1.svg';
import genderSvg2 from '../assets/genderNone2.svg';
import Coin from '../assets/coin0.png';

export default {
  name: 'gamePart',
  created:function(){

  },
  components:{
      GameWrapper,
      GameTimeWrapper,
      ArrowStyle,
      CircleWrapper,
      ListSvg,
      MemberWrapper,
      PhotoStyle,
      GetResultPart
  },
  props:['wheel','duration','resultIndex','ownData','allPlayers','stepLeftSeconds','leftSeconds'],
  data(){
    return {
      genderPicArray:[[genderSvg0,genderSvg1,genderSvg2],[maleSvg0,maleSvg1,maleSvg2],[femaleSvg0,femaleSvg1,femaleSvg2]],
      cardList: [
        {name:'Blue', code: 0, color:'#07b'},
        {name:'Green', code: 1, color:'#2a2'},
        {name:'Red', code: 2, color:'#f00'},
        {name:'Yellow', code: 3, color:'#ff0'},
        {name:'Purple', code: 4, color:'#f0a'},
        {name:'Gold', code: 5, color:'gold'},
        {name:'Diamond', code: 6, color:'#B9F2FF'}
      ],
      resultDeg:87-(3600 + (this.resultIndex)*6.66666667),
      resultColor:'',
      isGetResultPartShow:false,
      coinPic:Coin
    }
  },
  computed:{

  },
  watch:{
    duration:function(val,oldVal){
        this.duration = parseInt(val);
    },
    resultIndex:function(val,oldVal){
      this.resultDeg = 87-(3600 + (val)*6.66666667);
      this.resultColor = this.cardList[this.wheel[val]].color;
    },
    leftSeconds:function(val,oldVal){
      this.isGetResultPartShow = val < 13 && val >10 ;
    }
  },
  template: `
    <GameWrapper>
      <GetResultPart v-if="isGetResultPartShow" :color="resultColor"/>
      <ArrowStyle></ArrowStyle>
      <GameTimeWrapper>
        <div class="time">{{stepLeftSeconds}}</div>
      </GameTimeWrapper>

      <CircleWrapper :resultDeg = "resultDeg" :duration="parseInt(duration)">
        <ListSvg :color="cardList[item].color"  :key="index" v-bind:style="{ transform:'rotate(' + index*360/54 + 'deg)'}" v-for="(item,index) in wheel">
           <svg version="1.1" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
            <polygon fill="#000" points="29.9,30 0.1,30 0.1,26.552"/>
          </svg>
        </ListSvg>
      </CircleWrapper>
      
      <MemberWrapper>
        <div class="box" v-for="(item,index) in allPlayers" >
          <PhotoStyle :Transportation="item.Transportation">
            <img :src="genderPicArray[item.Gender][item.Name.length%3]"/>
          </PhotoStyle>
          <div class="nameBox">
            <div class="name" v-bind:style="{color :item.Transportation == 0? '#e7008c':'#dcdcdc'}">{{item.Name}}</div>
            <div class="coins">
              <span>{{item.Coins}}</span>
              <img :src="coinPic" />
            </div>
          </div>
          <div class="cardBox">
            <div class="card" v-for="(card,key) in cardList" v-bind:style="{ background:cardList[key].color }" :key="key">{{item.OwnCards[card.name]}}</div>
          </div>
        </div>
      
        <div class="box ownBox">
          <PhotoStyle :own="true" :Transportation="ownData.Transportation">
            <img :src="genderPicArray[ownData.Gender][ownData.Name.length%3]"/>
          </PhotoStyle>
          <div class="nameBox">
            <div class="name" v-bind:style="{color :ownData.Transportation == 0? '#e7008c':'#dcdcdc'}">{{ownData.Name}}</div>
            <div class="coins">
              <span>{{ownData.Coins}}</span>
              <img :src="coinPic" />
            </div>
          </div>
          <div class="cardBox">
             <div class="card" v-for="(card,key) in cardList" v-bind:style="{ background:cardList[key].color }" :key="key">{{ownData.OwnCards[card.name]}}</div>
          </div>
        </div>
      </MemberWrapper>
      
    </GameWrapper>
  `
}

</script>
