
<script>

import { GameWrapper , SettingWrapper} from '../styled/gameSectionStyled';
import timeSvg from '../assets/time.svg';
import homeSvg from '../assets/home.svg';

import NamePart from './namePart';
import CardPart from './cardPart';
import LeftTimePart from './leftTimePart';
import GamePart from './gamePart';
import ResultPart from './resultPart';
import HistoryPart from './historyPart';
import BackHomePart from './backHomePart';

export default {
  name: 'gameSection',
  components:{
      GameWrapper,
      SettingWrapper,
      NamePart,
      CardPart,
      LeftTimePart,
      GamePart,
      ResultPart,
      HistoryPart,
      BackHomePart
  },
  created(){
 
  },
  data(){
    return {
      timeSvg:timeSvg,
      homeSvg:homeSvg,
      isNamePartShow:true,
      isCardPartShow:false,
      isTimePartShow:false,
      isGamePartShow:false,
      isResultPartShow:false,
      isHistoryPartShow:false,
      isBackHomePartShow:false,

      wheel:[],
      cardWinningSetting:{Blue:2,Green:4,Red:7,Yellow:13,Purple:26,Gold:51,Diamond:51},
      playerId:null,
      leftSeconds:null,
      stepLeftSeconds:0,
      ownData:{Coins:0,Name:'ninico',Gender:0,OwnCards:{Blue:0,Green:0,Red:0,Yellow:0,Purple:0,Gold:0,Diamond:0},PlayerId:null},
      allPlayers:[],
      webSocket:null,
      resultIndex:null,
      duration:null,
      gender:0,
      gameRoom:null,
      historyData:null
    }
  },
  methods:{
    connectState:function(playerName,gender){
      let protocol = window.location.protocol === 'http:'? 'ws':'wss';
      let host =  window.location.host;

      const wsUrl = `${protocol}://${host}/Games/WheelGameSocket?playerName=${playerName}&gender=${gender}`;
 
      this.webSocket = new WebSocket(wsUrl);

      this.webSocket.onopen = () => { console.log('open'); };
      this.webSocket.onclose = () => { 
        this.isNamePartShow = true;
        this.isCardPartShow = this.isTimePartShow = this.isGamePartShow = this.isResultPartShow = this.isHistoryPartShow = this.isBackHomePartShow = false;

      };
      this.webSocket.onerror = () => { console.log('error'); };
      
      this.webSocket.onmessage = (message) => {
        let messageData = JSON.parse(message.data);

        switch (messageData.EventType){
          case 'OnOpen':
            this.wheel = messageData.Data.Wheel;
            this.gameRoom = messageData.Data.GameRoom;
            this.cardWinningSetting = messageData.Data.CardWinningSetting;
            this.playerId = messageData.Data.PlayerId;
            
            this.isNamePartShow = false;
            this.isCardPartShow = messageData.Data.CanBuy;
            this.isTimePartShow = !messageData.Data.CanBuy;
            
            break;

          case 'OnTickStart':
            this.leftSeconds = messageData.Data.LeftSeconds;
            this.stepLeftSeconds = messageData.Data.StepLeftSeconds;
            //everytime update ownData
            this.ownData = messageData.Data.Players.filter((item,index)=>{
              return item.PlayerId === this.playerId;
            })[0];

            this.allPlayers = messageData.Data.Players.filter((item,index)=>{
              return item.PlayerId !== this.playerId;
            });

            break;

          case 'OnBuyStart':
            this.isHistoryPartShow = false;
            this.isTimePartShow = false;
            this.isCardPartShow = true;
            break;

          case 'OnCardBuy':
            this.ownData = messageData.Data;
            break;

          case 'OnBuyEnd':
            this.isCardPartShow = false;
            this.isGamePartShow = true;
            break;

          case 'OnRotateCountdownStart':
            this.resultIndex = messageData.Data.ResultIndex;
            this.duration = messageData.Data.Duration;
            break;

          case 'OnRotateStart':

            break;

          case 'OnHistory':
            this.historyData = messageData.Data;
            //console.log(this.historyData);
            this.isHistoryPartShow = !this.isHistoryPartShow;
            this.isBackHomePartShow = false;
            break;

          case 'OnShowResultStart':
            this.isGamePartShow = false;
            this.isResultPartShow = !this.isTimePartShow;

            break;
            
        }

      };

    },
    nameBtnClick:function(playerName,gender){
      this.connectState(playerName,gender);
    },
    homePopClick:function(){
      this.isBackHomePartShow = !this.isBackHomePartShow;
      this.isHistoryPartShow = false;
    },

    historyPopClick:function(){
      let message = {
        EventType: 'OnHistory',
        Data: {
            GameRoom: this.gameRoom
        }
      };
      this.webSocket.send(JSON.stringify(message));
    },
    backHomeClick:function(cards){
      if(cards === 0){
        this.webSocket.close();
      }else{
        this.isBackHomePartShow = false;
      }
     
    }
  },
  template: `
    <GameWrapper>
      <SettingWrapper v-if="!isNamePartShow">
        <div class="icon" v-on:click="historyPopClick" :webSocket="webSocket"><img :src="timeSvg" /></div>
        <div class="icon home" v-on:click="homePopClick"><img :src="homeSvg" /></div>
      </SettingWrapper>

      <NamePart v-if="isNamePartShow"  @nameBtnClick="nameBtnClick" :webSocket="webSocket"/>
      <BackHomePart v-if="isBackHomePartShow" @backHomeClick="backHomeClick" :ownData="ownData"/>
      <HistoryPart v-if="isHistoryPartShow" :historyData="historyData"/>
      <CardPart v-if="isCardPartShow" :webSocket="webSocket" :ownData="ownData" :stepLeftSeconds="stepLeftSeconds" :cardWinningSetting="cardWinningSetting"/>
      <LeftTimePart v-if="isTimePartShow" :leftSeconds="leftSeconds"/>
      <GamePart v-if="isGamePartShow" :duration="duration" :wheel="wheel" :resultIndex="resultIndex" :allPlayers="allPlayers" :ownData="ownData" :stepLeftSeconds="stepLeftSeconds" :leftSeconds="leftSeconds"/>
      <ResultPart v-if="isResultPartShow" :resultIndex="resultIndex" :wheel="wheel" :allPlayers="allPlayers" :ownData="ownData" :stepLeftSeconds="stepLeftSeconds"/>
    </GameWrapper>
  `
}

</script>
