
<script>

import { GetResultWrapper } from '../styled/gameSectionStyled';

export default {
  name: 'getResultPart',
  components:{
      GetResultWrapper
  },
  props:['color'],
  data(){
    return {
     
    }
  },
  template: `
      <GetResultWrapper :index="200">
        <div class="cong">Congratulations!</div>
        <div class="cong winText">Winning Is</div>
        <div class="color" v-bind:style="{ background:this.color }"></div>
      </GetResultWrapper>
    
  `
}

</script>
