
<script>

import { GameWrapper , PartWrapper , TitleStyle , HistoryWrapper , ResultWrapper} from '../styled/gameSectionStyled';
import Coin from '../assets/coin0.png';
export default {
  name: 'historyPart',
  components:{
      GameWrapper,
      PartWrapper,
      TitleStyle,
      HistoryWrapper,
      ResultWrapper
  },
  created(){
    console.log(this.historyData);

  },
  props:['historyData'],
  data(){
    return {
     cardList: [
        {name:'Blue', code: 0, color:'#07b'},
        {name:'Green', code: 1, color:'#2a2'},
        {name:'Red', code: 2, color:'#f00'},
        {name:'Yellow', code: 3, color:'#ff0'},
        {name:'Purple', code: 4, color:'#f0a'},
        {name:'Gold', code: 5, color:'gold'},
        {name:'Diamond', code: 6, color:'#B9F2FF'}
      ],
      coinPic:Coin
    }
  },
  template: `
    <GameWrapper :history="true">
      <PartWrapper :history="true">
        <TitleStyle>Game Records</TitleStyle>
        
        <HistoryWrapper>
          <div class="boxWrapper" v-for="item in historyData">
            <div class="seq">No.{{item.GameSeq}}</div>
            <div class="seq result">

              <div class="color"  v-bind:style="{ background:cardList[item.ResultColor].color}"></div>
              <div class="text">winning is</div>
            </div>
            <div class="clear"></div>
            <div class="box" v-for="player in item.Players">
              <div class="coins"><img :src="coinPic"/>{{player.Coins}}</div>
              <div class="cardbox">
                <div class="name">{{player.Name}}</div>
                <div class="card" v-for="(card,key) in cardList" v-bind:style="{ background:cardList[key].color }" :key="key">{{player.OwnCards[card.name]}}</div>
              </div>
            </div>
          </div>

        </HistoryWrapper>

      </PartWrapper>
    </GameWrapper>
  `
}

</script>
