
<script>

import { IndexWrapper , BtnWrapper } from '../styled/indexStyled';

export default {
  name: 'index',
  components:{
      IndexWrapper,
      BtnWrapper
  },
  data(){
    return {
      msg: 'Welcome to Marcus Game Center'
    }
  },
  template: `
    <IndexWrapper>
      <div class="wrapper">
        {{msg}}

        <BtnWrapper href="/gameSection1">WebSocket</BtnWrapper>
        <BtnWrapper href="/gameSection2">SingalR</BtnWrapper>

      </div>
    </IndexWrapper>
  `
}

</script>
