
<script>

import { GameWrapper , PartWrapper , LeftTimeWrapper , TipsStyle } from '../styled/gameSectionStyled';

export default {
  name: 'leftTimePart',
  components:{
      GameWrapper,
      PartWrapper,
      LeftTimeWrapper,
      TipsStyle
  },
  props:['leftSeconds'],
  template: `
    <GameWrapper>
      <PartWrapper>
        <LeftTimeWrapper>
          {{leftSeconds}}<span>sec</span>
        </LeftTimeWrapper>
        <TipsStyle>Previous game is not finished yet<br />please wait<br />The new game will start automatically</TipsStyle>
      </PartWrapper>
    </GameWrapper>
  `
}

</script>
