
<script>

import { NameWrapper , InputStyle , TitleStyle , BtnClickStyle } from '../styled/gameSectionStyled';


export default {
  name: 'namePart',
  props:['webSocket'],
  created(){
    if(this.webSocket){
       this.webSocket.close();
    }
  },
  components:{
      NameWrapper,
      InputStyle,
      TitleStyle,
      BtnClickStyle
  },
  data(){
    return {
      name:'',
      nameState:false,
      nameBtn:true,
      gender:0,
    }
  },
  methods:{
    nameSubmitClick:function(e){
      if(this.nameState && this.nameBtn){
        this.nameBtn = false;
        this.$emit("nameBtnClick",this.name,this.gender);

      }else if(this.nameState && !this.nameBtn){
        
      }else{
        alert('Please enter your name');
      }
    }
  },
  watch:{
    name:function(){
      this.nameState = this.name.length > 0;
    }
  },
  template: `
    <NameWrapper>
      <TitleStyle>Your Name</TitleStyle>
      <InputStyle type="text" v-model="name" />
      
      <label> male
        <input type="radio" value="1" v-model="gender"/>
      </label>
      <label> female
        <input type="radio" value="2" v-model="gender"/>
      </label>
      <BtnClickStyle @click="nameSubmitClick" :nameState="nameState">Game Start</BtnClickStyle>
    </NameWrapper>
  `
}

</script>
