 
<script>
import { GameWrapper , PartWrapper , TitleStyle , ResultIndexStyle , ResultWrapper } from '../styled/gameSectionStyled';
import Coin from '../assets/coin0.png';
export default { 
  name: 'resultPart',
  components:{
      GameWrapper,
      PartWrapper,
      TitleStyle,
      ResultIndexStyle,
      ResultWrapper
  },
  props:['allPlayers','ownData','stepLeftSeconds','resultIndex','wheel'],
  data(){
    return {
      cardList: [
        {name:'Blue', code: 0, color:'#07b'},
        {name:'Green', code: 1, color:'#2a2'},
        {name:'Red', code: 2, color:'#f00'},
        {name:'Yellow', code: 3, color:'#ff0'},
        {name:'Purple', code: 4, color:'#f0a'},
        {name:'Gold', code: 5, color:'gold'},
        {name:'Diamond', code: 6, color:'#B9F2FF'}
      ],
      coinPic:Coin

    }
  },
  template: `
    <GameWrapper>
      <PartWrapper>
        <TitleStyle>This Game Results</TitleStyle>
        
        <ResultIndexStyle :color="cardList[wheel[resultIndex]].color">
          <div class="time">The new game start in<span>{{stepLeftSeconds}}</span>seconds</div>
          <div class="ball"></div>
          <div class="text">Winning is</div>
          <div class="text textRWD">Win</div>
        </ResultIndexStyle>

        <ResultWrapper :own="true">
          <div class="name">
            <span>{{ownData.Name}}</span>
          </div>
          <div class="coins"><img :src="coinPic"/><span>{{ownData.Coins}}</span></div>
        </ResultWrapper>
        
        <ResultWrapper v-for="(item,index) in allPlayers" :key="index">
          <div class="name">
            <span>{{item.Name}}</span>
          </div>
          <div class="coins"><img :src="coinPic"/><span>{{item.Coins}}</span></div>
        </ResultWrapper>
         
      </PartWrapper>
    </GameWrapper>
  `
}

</script>
