<template>
  <div id="app">
	<gameSection />
  </div>
</template>

<script>
import 	gameSection from './components/gameSection';
export default {
  name: 'App',
  components:{
  	gameSection
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
