﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game List</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="~/Games/WheelGameWebSocket">WheelGameWebSocket</a></li>
            <li><a href="~/Games/WheelGameSignalR">WheelGameSignalR</a></li>
        </ul>
    </div>
</body>
</html>
