﻿
@{
    ViewBag.Title = "WheelGameWebSocket";
}

@section Scripts{
    <script src="~/Content/js/Games/webSocketTest.js"></script>
}

<div>
    <input type="text" placeholder="Name" id="playerName" />
    <input type="button" value="Start" id="startButton" />
    <input type="button" value="End" id="endButton" />
    <br />
    <select id="cardColor">
        <option value="0">Blue</option>
        <option value="1">Green</option>
        <option value="2">Red</option>
        <option value="3">Yellow</option>
        <option value="4">Purple</option>
        <option value="5">Gold</option>
        <option value="6">Diamond</option>
    </select>
    <input type="button" value="Send" id="sendButton" />
    <input type="button" value="History" id="historyButton" />
</div>
<div>
    <ol id="logList"></ol>
</div>


