﻿@{
    ViewBag.TItle = "WheelGameSignalR";
}
@section scripts{
    @*<script src="https://cdn.jsdelivr.net/npm/vue"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/signalr/hubs")
    @*@Scripts.Render("~/bundles/wheelGameSignalR")*@
    @Scripts.Render("~/Content/js/Games/wheelGameSignalR.js")
}

<div id="app"></div>


