﻿@{ ViewBag.Title = "WheelGameWebSocket"; }
@section css{
    <style type=text/css>
        * {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    </style>
    <link href="~/Content/css/app.60626ea2d2cdaf9e34abaee502965555.css" rel="stylesheet">
}
@section scripts{
    <script src="~/Content/js/Games/manifest.2ae2e69a05c33dfc65f8.js"></script>
    <script src="~/Content/js/Games/vendor.614d86b13975daf5adbb.js"></script>
    <script src="~/Content/js/Games/app.33f9d310855951f75643.js"></script>
}

<div id=app></div>